body{
    margin: 0;
    padding: 0;
}
.heading{
    display: flex;
    justify-content: center;
    height: 150px;
    background-color: rgb(211, 193, 31);
    font-weight: bold;
    align-items: center;
    font-size: 40px;
}


.btns{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    color: black;
}
button{
    border: none;
    font-size: 20px;
    border-radius: 8px;
    background-color: rgb(105, 204, 119);
}
button:hover{
    background-color: rgb(185, 163, 61);
}




footer{
    display: flex;
    justify-content: center;
    font-size: large;
    background-color: rgb(211, 193, 31);
    margin-top: 100px;
}