body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(250, 226, 226);
}
.nav-sidebar{
    width: 440px;
    background-color: rgb(231, 210, 210);
    position: absolute;
    margin-top: 60px;
    height: 800px;
    
}
.nav-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

form> fieldset{
    display: flex;
    flex-direction: column;
}
#showResume{
    cursor: pointer;
    background-color: yellow;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}


.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    
    background-color: black;
}
.nav-links{
    display: flex;
    justify-content: center;
}
#nav-links-btn-CYO{
    background-color: yellow;
    padding: 10px;
    font-size: 20px;
    border-radius: 3px;
}
#nav-links-btn-PI, #nav-links-btn-ED,#nav-links-btn-SK,#nav-links-btn-WE {
    border: none;
    height: 30px;
    background-color: black;
    font-size: medium;
}

.personal-info,
.edu,
.skills,
.exp {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.personal-info:hover,
.edu:hover,
.skills:hover,
.exp:hover {
    cursor: pointer;
    background-color: rgb(252, 252, 107);
    color: black;
    border-radius: 5px;
    transition: ease-out 0.5s;
    font-weight: bold;
}

/* COntent */

.content {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 900px;
    margin-top: 20px;
    margin-left: 450px;
}

.inner-content {
    font-size: large;
}
.pInfo{
    display: flex;
    justify-content: center;
    column-gap: 150px;
    position: relative;

}
.pInfo-name {
    font-size: 50px;
    font-weight: bold;
    
}
.pInfo-phone{
    position: absolute;
    z-index: 999;
    margin-top: 120px;
    margin-right: 600px;
}
.pInfo-email{
    position: absolute;
    z-index: 999;
    margin-top: 120px;
    margin-left: auton;
}

.profilePicture {
    height: 150px;
    width: 150px;
    border-radius: 70px;
    margin-top: 10px;
}

.education{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}
.skills-div{
    margin-top: 30px;
}
.w-exp{
    margin-top: 30px;
}

@media (max-width: 400px){
    .header {
        height: 150px;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        row-gap: 3px;
    }
    .content{
        width: 300px;
    }
    .pInfo-phone, .pInfo-email{
        display: none;
    }
    .pInfo{
        display: flex;
        column-gap: 0;
    }
    .content{
        width: 365px;
        position: absolute;
        z-index: 999;
        margin-top: 900px;
        margin-left: auto;
    }
    .nav-sidebar{
        width: 350px;
        background-color: rgb(231, 210, 210);
        position: absolute;
        margin-top: 153px;
        height: 800px;
    }
}

@media (min-width:401px) and (max-width: 570px){
    .header {
        height: 150px;
    }
    .content{
        width: 380px;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        row-gap: 3px;
    }
    .pInfo-phone, .pInfo-email{
        display: none;
    }
    .pInfo{
        display: flex;
        column-gap: 0;
    }
    .content{
        width: 450px;
        position: absolute;
        z-index: 999;
        margin-top: 900px;
        margin-left: auto;
    }
    .nav-sidebar{
        width: 400px;
        background-color: rgb(231, 210, 210);
        position: absolute;
        margin-top: 153px;
        height: 800px;
    }
}

@media (min-width:571px) and (max-width: 700px) {
    .header {
        height: 150px;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        row-gap: 3px;
    }
    .pInfo-phone, .pInfo-email{
        display: none;
    }
    .content{
        width: 650px;
        position: absolute;
        z-index: 999;
        margin-top: 900px;
        margin-left: auto;
    }
    .nav-sidebar{
        width: 500px;
        background-color: rgb(231, 210, 210);
        position: absolute;
        margin-top: 153px;
        height: 800px;
    }
    .nav-container{
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
}

@media (min-width: 701px) and (max-width:1080px){
    .content{
        width: 800px;
    }
    .content{
        width: 650px;
        position: absolute;
        z-index: 999;
        margin-top: 900px;
        margin-left: auto;
        display: flex;
        justify-content: center;
    }
    .nav-sidebar{
        width: 500px;
        background-color: rgb(231, 210, 210);
        position: absolute;
        margin-top: 85px;
        height: 800px;
    }
}
@media (min-width: 1081px) and (max-width: 1340){
    .content{
        width: 650px;
        position: absolute;
        z-index: 999;
        margin-top: 900px;
        margin-left: auto;
    }
    .nav-sidebar{
        width: 500px;
        background-color: rgb(231, 210, 210);
        position: absolute;
        margin-top: 153px;
        height: 800px;
    }
}

